<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78516389512-5on1ljta772khpoog1n0243spvv7reta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78516389512-5on1ljta772khpoog1n0243spvv7reta</string>
	<key>API_KEY</key>
	<string>AIzaSyC9HHrOUJHKwLkqqylT0aXc_a_K5-o1cr4</string>
	<key>GCM_SENDER_ID</key>
	<string>78516389512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appfrommk.untitled3</string>
	<key>PROJECT_ID</key>
	<string>mathapp-bdaae</string>
	<key>STORAGE_BUCKET</key>
	<string>mathapp-bdaae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78516389512:ios:d1a6be9e977cb84ab1c13d</string>
</dict>
</plist>